.section-cta{
    position: relative;
    padding-top: 83px;
    padding-bottom: 84px;


      /* Desktop */
    @media (max-width: 1600px) {
        @include bgimage("./../img/cta-bg1600.jpg");
        
     }

      /* Tablet */
    @media (max-width: 1199px) {
        padding-top: 40px;
    padding-bottom: 40px;
    @include bgimage("./../img/cta-bg900.jpg");
      
    }

    /* Mobile */
    @media (max-width: 899px) {
        @include bgimage("./../img/cta-bg600.jpg");
    }
     
    /* Mobile XS */
    @media (max-width: 599px) {
        @include bgimage("./../img/cta-bg320.jpg");
        
    }

 

    @include bgimage("./../img/cta-bg-02.jpg");

    &::before{
        @extend %overlay
     }

    
    

}

.section-cta__content{
    position: relative;
    z-index: 9;

    color: #FFF;
    text-align: center;
}

.section-cta__content .button{
    display: inline-block;
    text-decoration: none;
}

.section-cta__title{
    margin-bottom: 40px;

    font-size: 22px;
    font-weight: 500;
    line-height: 1; 

    /* Mobile */
    @media (max-width: 899px) {
        margin-bottom: 30px;
        font-size: 20px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        margin-bottom: 20px;
        font-size: 18px;

        
    }

    span{
        text-transform: uppercase;
        font-weight: 700;
    }

}